@layer components {
  .btn {
    @apply font-black text-base text-primary-100 uppercase;
    &:hover {
      @apply text-primary-300;
    }

    &.btn--active {
      @apply text-primary-300;
    }
    &.btn--disabled,
    &[disabled='true'],
    &:disabled {
      @apply text-gray-400 cursor-not-allowed;
    }
  }
}
